/* Resetting the box model for all HTML elements */
html {
  box-sizing: border-box;
}

/* Setting the font family and color for the body */
body {
  font-family: sans-serif;
  color: #0a0a23;
}

/* Hiding visually but announcing by screen readers */
span[class~="sr-only"] {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  position: absolute !important;
  padding: 0 !important;
  margin: -1px !important;
}

/* Styling the flex container */
h1 .flex {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

/* Styling the first span in the flex container */
h1 .flex span:first-of-type {
  font-size: 0.7em;
}

/* Styling the last span in the flex container */
h1 .flex span:last-of-type {
  font-size: 1.2em;
}

/* Styling the section containing the tables */
section {
  max-width: 40rem;
  margin: 0 auto;
  border: 2px solid #d0d0d5;
}

/* Styling the years container */
#years {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  color: #fff;
  background: #0a0a23;
  margin: 0 -2px;
  padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
  z-index: 999;
}

/* Styling the years text */
#years span[class] {
  font-weight: bold;
  width: 4.5rem;
  text-align: right;
}

/* Adding padding to the table container */
.table-wrap {
  padding: 0 0.75rem 1.5rem 0.75rem;
}

/* Styling the tables */
table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  position: relative;
  margin-top: 3rem;
}

/* Styling the table captions */
table caption {
  color: #356eaf;
  font-size: 1.3em;
  font-weight: normal;
  position: absolute;
  top: -2.25rem;
  left: 0.5rem;
}

/* Styling the table body cells */
tbody td {
  width: 100vw;
  min-width: 4rem;
  max-width: 4rem;
}

/* Styling the table body header cells */
tbody th {
  width: calc(100% - 12rem);
}

/* Styling the total rows */
tr.total {
  border-bottom: 4px double #0a0a23;
  font-weight: bold;
}

/* Styling the th elements in total rows */
tr.total th {
  text-align: left;
  padding: 0.5rem 0 0.25rem 0.5rem;
}

/* Styling the td elements in total rows */
tr.total td {
  text-align: right;
  padding: 0 0.25rem;
}

/* Adding extra padding to the third td element in total rows */
tr.total td:nth-of-type(3) {
  padding-right: 0.5rem;
}

/* Styling the 'current' class cells */
td.current {
  font-style: italic;
}

/* Styling the data rows */
tr.data {
  background-image: linear-gradient(to bottom, #dfdfe2 1.845rem, white 1.845rem);
}

/* Styling the th elements in data rows */
tr.data th {
  text-align: left;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}

/* Styling the description elements within th in data rows */
tr.data th .description {
  display: block;
  font-style: italic;
  font-weight: normal;
  padding: 1rem 0 0.75rem;
  margin-right: -13.5rem;
}

/* Styling the td elements in data rows */
tr.data td {
  vertical-align: top;
  text-align: right;
  padding: 0.3rem 0.25rem 0;
}

/* Adding extra padding to the last td element in data rows */
tr.data td:last-of-type {
  padding-right: 0.5rem;
}
